.nav{
    height: 3em;
    background-color: transparent;
    display: flex;
    }
    #menu-items{
        display: flex;
        height: inherit;
        }
    #logo{
        height: 4em;
        vertical-align: middle;
    }
    /* .icon{
        height: 4em;
        vertical-align: middle;
    } */
    /* .icon:hover{
        background-color: lightgray;
        border-radius: 5px;
    } */
    /* .hidden{
        display: none;
    } */
    /* .highlight{
        background-color: lightgray;
        border-radius: 5px;
    } */