.nav{
    height: 3rem;
    background-color: transparent;
    box-shadow: 0px .5em .5em rgba(0, 0, 0, 0.2);
    border: solid gray .1em;
    border-top:0em;
    border-left:0em;
    border-right:0em;
    }
    #menu-items{
        display: flex;
        height: inherit;
        }
    #logo{
        height: 3.5em;
        vertical-align: middle;
    }
    /* .icon{
        height: 4em;
        vertical-align: middle;
    } */
    /* .icon:hover{
        background-color: lightgray;
        border-radius: 5px;
    } */
    /* .hidden{
        display: none;
    } */
    /* .highlight{
        background-color: lightgray;
        border-radius: 5px;
    } */