* {
  box-sizing: border-box;
}

html {
  font-family: "Varela Round" !important;
  max-width: 100%;
  background-color: #efefef !important;
}

.boxshadow {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1{
  cursor:default;
}
h2{
  cursor:default;
}
h3{
  cursor:default;
}
h4{
  cursor:default;
}
h5{
  cursor:default;
}
h6{
  cursor:default;
}
input{
  padding: 8px;
  border-radius: 4px;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  content: '';
  position: relative;
  border-radius: 4px;
  border: 2px solid #007ea7;
  outline: none;
}
#page-container {
  position: relative;
  min-height: 100%;
}
page-container {
  position: relative;
  min-height: 100%;
}

#content-wrap {
  padding-bottom: 2.5%;    /* Footer height */
}

#footer {
  position: absolute;
  bottom: 0;
  width: 95%;
  text-align: right;
  height: 2.5%;            /* Footer height */
}

.button {
  background-color: #00a7e1;
  border: 2px solid transparent;
  color: #00171f;
  margin-left: 10px;
  margin-right: 10px;
  margin-top:5px;
  margin-bottom:5px;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  transition-duration: 0.2s;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  outline: none;
  font-family: "Varela Round";
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.button:hover {
  border: 2px solid #007ea7;
  color: #00171f;
  background-color: #00a7e1;
  border-radius: 5px;
}

.button:active {
  border: 2px solid #007ea7;
  color: #00171f;
  background-color: #007ea7;
  border-radius: 5px;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/*  *SELECT (Dropdown) ****************************************************
*   Build HTML similar to:
<div class="select-grandparent">
   <div class="select-parent boxshadow">
!       <!-- Normal Select -->
       <select class="select" id="toleranceStyle">
!      <!-- Call specific event like: onclick="SelectorClick(this,event); specificEvent();"  -->
           <option class="select-selected" value="none" onclick="SelectorClick(this,event);">Select Tolerance:</option>
           <option value="natoliTolerance">Natoli</option>
           <option value="euTolerance">ISO (European)</option>
           <option value="pmTolerance">+/-</option>
       </select>
!      <!-- Contains the selected element -->
       <div class="select-selected">
       </div>
       <div class="select-items select-hide" style="border-bottom-left-radius: 20px; border-bottom-right-radius: 20px;">
!          <!-- These must be 1 less than the number of otpions from the selector -->
           <div></div>
           <div></div>
           <div></div>
       </div>
   </div>
</div>
!script
<script type="text/javascript" id="documentReadyScript">
    document.addEventListener("click", closeAllSelect);
    styleDropDowns();
    function SelectorClick(element, e){
        e.preventDefault();
        e.stopPropagation();
        closeAllSelect(element);
    }
    // Any other code here.
</script>
! Note:
* In index.js styleDropDowns() the offset variable must be 0 to keep the 0'th index in the option list.
*/
/* select */
.select {
  position: absolute;
}
/* select's parent */
.select-parent {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
  min-width: 100px;
}
/* parent's optional state when opened */
.opened {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
/* select's grandparent */
.select-grandparent {
  padding-left: 0;
  padding-right: 0;
  position: relative;
}
.select-parent select {
  display: none; /*hide original SELECT element: */
}
/* displayed select (selected item) */
.select-selected {
  background-color: #00a7e1;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 20px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: rgb(36, 34, 34) transparent transparent transparent;
}
/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent rgb(36, 34, 34) transparent;
  top: 7px;
}
/* style the items (options), including the selected item: */
.select-items div,
.select-selected {
  color: black; /* font color */
  padding: 8px 30px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color: #00a7e1;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  scroll-behavior: smooth;
  overflow-x: hidden;
  overflow-y: visible;
  max-height: 700%;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}
/* Hover/selected transparency transparency */
.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
/* ****************************************************************************** */
