

.grid{
    margin-top: .4em;
    margin-bottom: 1em;
}
  .grid-item {
    padding-right: .2em;
    padding-left: .2em;
  }

span.frac {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
  }
  span.frac > sup, span.frac > sub {
    display: block;
    font: inherit;
    padding: 0 0.2em;
  }
  span.frac > sup {border-bottom: 0.08em hidden;}
  span.frac > span {display: none;}

