
*,
*:before,
*:after {
  box-sizing: inherit;
}
  .grid::after {
    content: "";
    clear: both;
    display: table;
  }
  .grid-item {
    /* Width property */
    padding-right: .2em;
    padding-left: .2em;
    float: left;
    /* border: 2px;
    border-color: red;
    border-style: solid; */
  }
[class*="size"] {
    float: left;
    padding-top: .1em;
    padding-bottom: .1em;
  }
.size1of8{
    width: 12.5%;
}
.size1of4{
    width: 25%
}
.size2of8{
    width: 25%;
}
.size1of3{
    width: 33.33333%;
}
.size3o8{
    width: 37.5%;
}
.size1of2{
    width: 50%;
}
.size2of4{
    width: 50%;
}
.size4of8{
    width: 50%;
}
.size5of8{
    width: 62.5%;
}
.size2of3{
    width: 66.66667%;
}
.size3of4{
    width: 75%;
}
.size6of8{
    width: 75%;
}
.size7of8{
    width: 87.5%;
}
.size1of1{
    width: 100%;
}
.size2of2{
    width: 100%;
}
.size3of3{
    width: 100%;
}
.size4of4{
    width: 100%;
}
.size8of8{
    width: 100%;
}


span.frac {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
  }
  span.frac > sup, span.frac > sub {
    display: block;
    font: inherit;
    padding: 0 0.2em;
  }
  span.frac > sup {border-bottom: 0.08em hidden;}
  span.frac > span {display: none;}

/* select */
.select{
  position:absolute;
}
/* select's parent */
.select-parent {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.opened {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
/* select's grandparent */
.select-grandparent{
  position:relative;
}
.select-parent select {
  display: none; /*hide original SELECT element: */
}
/* displayed select (selected item) */
.select-selected {
  background-color: #00A7E1;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 20px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color:  rgb(36, 34, 34) transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent rgb(36, 34, 34) transparent;
  top: 7px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
  color:black; /* font color */
  padding: 8px 30px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

/* Style items (options): */
.select-items {
  position: absolute;
  background-color:  #00A7E1;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}
/* Hover/selected transparency transparency */
.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}