h1
{
    text-align: center;
}

.Checkboxes
{
    text-align: center;
    padding: 10px;
}

.Inputs
{
    display: inline-flex;
    text-align: center;
    column-fill: auto;
    background-color: #BFBFBF;
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    padding: 10px;
    width: auto;
    height: auto;
}

.Results
{
    display: inline-flex;
    text-align: center;
    column-fill: auto;
    padding: 10px;
    width: auto;
    height: auto;
}

.colresults0
{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: auto;
    min-width: 210px;
}

.colresults1
{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: auto;
    min-width: 210px;
}

.colresults2
{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: auto;
    min-width: 140px;
}

.inputs
{
    height: 25px;
    width: 150px;
    border: none;
    margin-bottom: 10px;
    padding-left: 5px;
    border-radius: 5px;
}

.col1
{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: auto;
    flex: 5%;
}

.col2
{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: auto;
    flex: 50%;
    min-width: 175px;
}

.col3
{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: auto;
    flex: 5%;
}

.col4
{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: auto;
    flex: 60%;
    min-width: 185px;
}

.col5
{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: auto;
    flex: 5%;
}

.labels
{
    margin-bottom: 20px;
}

.number_spinner
{
    margin-bottom: 14px;
    width: 60px;
    height: 25px;
    border: none;
    padding-left: 2px;
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
    border-radius: 5px;
}

.tol_label
{
    margin-bottom: 20px;
}